.ce-popover-indent-item {
    cursor: default !important;
}

.ce-popover-indent-item:hover {
    background-color: transparent !important;
}

.ce-popover-indent-item .ce-popover-item__icon {
    cursor: pointer;
    will-change: background-color;
    transition: 0.3s background-color;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    color: var(--color-text-primary, black);
}

.ce-popover-indent-item .ce-popover-item--disabled {
    color: var(--color-text-secondary, #707684);
    cursor: default;
}

.ce-popover-indent-item .ce-popover-item__icon:focus {
    outline: none;
}

.ce-popover-indent-item:hover .ce-popover-item__icon {
    box-shadow: 0 0 0 1px var(--color-border-icon, rgba(201, 201, 204, 0.48)) !important;
    -webkit-box-shadow: 0 0 0 1px var(--color-border-icon, rgba(201, 201, 204, 0.48)) !important;
}

.ce-popover-indent-item .ce-popover-item__icon:hover {
    background-color: var(--color-background-item-hover, #eff2f5);
}

.ce-highlight-indent {
    opacity: 0.5;
    will-change: background-color;
    transition: background-color .4s;
    display: inline-block;
    height: 1.6em;
    top: 50%;
    position: absolute;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -ms-transition: background-color .4s;
    -o-transition: background-color .4s;
}

[data-block-indent-wrapper][data-focused] .ce-highlight-indent {
    background-color: green;
}